language: cpp
sudo: false
dist: trusty
compiler:
  - gcc
  - clang
os:
  - linux
addons:
  apt:
    packages:
      - libboost-program-options-dev
      - libjsoncpp-dev
      - libutfcpp-dev
script:
  - cmake -H. -Bbuild && cd build && make
