name: clang-tidy-review
on: [pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: ZedThree/clang-tidy-review@v0.17.1
      id: review
      with:
        base_dir: ${{ env.base_dir }}
        apt_packages: libfreetype6-dev,libutfcpp-dev,libcurl3-dev,libjsoncpp-dev,libboost-program-options-dev
        cmake_command: cmake . -DCMAKE_EXPORT_COMPILE_COMMANDS=on
        clang_tidy_checks: '-*,performance-*,readability-*,bugprone-*,clang-analyzer-*,cppcoreguidelines-*,mpi-*,misc-*,google-*'
    - if: steps.review.outputs.total_comments > 0
      run: exit 1
